extends ../layout/main

block variables
  - var title = 'Webpack page'


block content 
  +logoTitle("Webpack","./img/webpack-logo.png","webpack-logo","Welcome to Webpack")
  p.logo-text You can examine the configuration files in the root of the template:
  ul
    +webpackConfig("webpack.base.config.js")
    +webpackConfig("webpack.build.conf.js")
    +webpackConfig("webpack.dev.conf.js")
  