extends ../layout/main

block variables
  - var title = 'Sass page'


block content 
  +logoTitle("sass","./img/sass-logo.png","sass-logo","Welcome to Sass")
  p.logo-text To get started, edit ./src/scss/../.. and save to reload. 
