extends ../layout/main

block variables
  - var title = 'TEST'


block content 
  ul
    +list("name")
    +list("sdfs")
    +list("nasdfsdfme")
    +list("dfsfsdfdsf")
    +list("nasdfsfsdfsme")
    +list("namfsdfsfsdfe")
  img(src="./img/photo.png", alt="")  
