@import "utils/libs";
@import "utils/vars";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;

  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }

  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }

  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
}


section,
.section {
  position: relative;
  padding: 40px 0;

  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }

  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }

  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  max-width: $desktopWidth;

  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }

  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }

  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}

/////////////////////STYLES FOR TEMPLATE///////////////////////
.webpack-color {
  height: 100vh;
  background-image: linear-gradient(to left bottom, #005e90, #005a99, #0055a1, #004ea8, #0446ac);
}

.pug-color {
  height: 100vh;
  background-image: linear-gradient(to left bottom, #646946, #6d6d45, #767144, #807543, #8b7843);
}

.sass-color {
  height: 100vh;
  background-image: radial-gradient(circle, #570038, #680341, #79074a, #8b0d53, #9d135b);
}

.welcome-page {
  text-align: center;
  padding: 30px 0;
  color: #e5e5e5;

}

.logo-title,
.logo-text {
  padding: 10px;
}

.logo-title {
  font-size: 55px;
}

.logo-text {
  font-size: 20px
}

// Modules
@import "modules/header.scss";
@import "modules/webpack-page.scss";
@import "modules/pug-page.scss";
@import "modules/sass-page.scss";